.App {
  text-align: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
  overflow: hidden; /* Hide any overflow */
}

p {
  padding-left: 20px;
  padding-right: 20px;
}

.App-logo {
  width: 50%;
  pointer-events: auto; /* Keep or remove, depending on your needs */
  transition: transform 0.5s ease-in-out; /* Add transition for smooth animation changes */
  box-sizing: border-box; /* Ensure the box fits within the borders */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (min-width: 768px) { /* Adjust styles for screens 768px and wider */
  .App-header {
    font-size: calc(14px + 2vmin); /* Larger font size */
  }
}

.App-logo:hover {
  animation: App-logo-spin infinite 2s linear; /* Faster rotation on hover */
}

.App-header {
  width: 100%;
  background-color: #1e1e1e; /* Darker background for less strain */
  height: 100%; /* Set the height to 100% of the parent container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #dcdcdc; /* Softer white color */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #1e1e1e; /* Darker background for less strain */
  margin: 0; /* Remove default margin */
  height: 100vh; /* Set the height to 100% of the viewport height */
  overflow: hidden; /* Hide any overflow */
}

@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

.mailto-link {
  color: #9D2235;
}