.App {
  text-align: center;
  min-height: 100vh; 
  overflow: hidden;
  display: flex; 
  flex-direction: column; 
}

p {
  padding-left: 20px;
  padding-right: 20px;
}

.App-logo {
  width: 35%;
  max-width: 200px; 
  transition: transform 0.5s ease-in-out;
  box-sizing: border-box; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (min-width: 768px) { 
  .App-header {
    font-size: calc(14px + 2vmin); 
  }
}

.App-logo:hover {
  animation: App-logo-spin infinite 2s linear; 
}

.App-header {
  width: 100%;
  background-color: #1e1e1e;
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #dcdcdc;
}

/* Removed .App-link as it's not being used */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #1e1e1e; 
  margin: 0; 
  height: 100vh; /* You can keep this or remove it, depending on your needs */
  overflow: hidden; 
}

/* Removed @keyframes zoomOut as it's not being used */

.mailto-link {
  color: #9D2235;
}

.info-container { 
  margin-top: 20px; 
}

.info-container p {
  margin: 5px 0; 
}